.sidebar-brand {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    transition: width 0.5s ease;
}

.sidebar-brand.collapsed {
    width: 56px;
}

.sidebar-brand .cat-paw-icon {
    margin-right: 5px;
    transition: opacity 0.5s ease;
}

.sidebar-brand.collapsed .cat-paw-icon {
    opacity: 1;
    margin-left: 60px;
    font-size: 1.5em;
}

.sidebar-brand-text {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.sidebar-brand.collapsed .sidebar-brand-text {
    opacity: 0;
    width: 0;
    overflow: hidden;
}